<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zbook.manage.mapper.ChapterMapper" >

	<insert id="addChapter" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		T_CHAPTER
		(BOOK_ID,TITLE,WORD_NUM,URL)
		VALUES
		(#{chapter.bookId},#{chapter.title},#{chapter.wordNum},#{chapter.url});
    </insert>

	<select id="getChapterById" resultType="com.zbook.manage.domain.Chapter">
		SELECT ID id, 
			BOOK_ID bookId,
			TITLE title, 
			WORD_NUM wordNum, 
			URL url
		FROM T_CHAPTER
		where ID=#{id}
	</select>
	
	<select id="getChaptersByBookId" resultType="com.zbook.manage.domain.Chapter">
		SELECT ID id, 
			BOOK_ID bookId,
			TITLE title, 
			WORD_NUM wordNum, 
			URL url
		FROM T_CHAPTER
		where BOOK_ID=#{bookId}
	</select>

</mapper>